.tag{
    color: #ff0055;
    font-size: 30px;
}

.info{
    font-size: 20px;
}

.pageinfo{
    background-color: #ffe6ff; 
    color: #660066; 
    font-size: 20px;
}

.hotspot{
    font-size: 30px;
}
.migra{
    font-size: 25px;
}